* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background: #ddd;
}

.app-container {
  display: flex;
  gap: 0.5rem;
}
